<h1>If You've Got {{time_limit}} Minutes...</h1>
{{!-- <h1>Points: {{result.maxValue}}</h1> --}}
{{#each tasks as |task| }}
<div class="mx-0 m-4">
  <div class="row align-center">
    <div>
      <h2>{{{get_emoji}}} {{task.title}}</h2>
    </div>
    <div>
      <p>{{task.body}}</p>
    </div>
    <div>
      {{task.minutes}}
    </div>
    <div>
      {{task.due_date}}
    </div>
    <div>
      <h7>By: {{task.user.name}} @ {{task.createdAt}}</a></h7>
    </div>
  </div>
</div>
{{/each}}