<h1 class="text-center">Knock Out at Maximum Efficieny</h1>
<h2 class="text-center">We Streamlined {{minutesSum}} Out of {{time_limit}} Minutes, Worth {{pointsSum}} Points</h2>
<h2 class="text-center">Let's Get to Work on These {{tasks.length}} Chores!</h2>
{{!-- <h1>Points: {{result.maxValue}}</h1> --}}
<div class="row d-flex progress m-4 mx-auto" style="height: 50px;">
  <div class="col-12 fs-3 align-center progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{utilization}}" aria-valuemin="0" aria-valuemax="100" style="width: {{utilization}}%;">{{utilization}}% of Time Used</div>
</div>
<hr/>
<div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="custom-gutter">
          <div class="row">
            {{#each tasks as |task| }}
            <div class="col-12 col-sm-12 col-md-6 my-3">
              <div class="p-2 card task-card">
                <div class="card-body">

                    <div class="row">
                      <h3 class="mb-1 card-title text-center w-100">{{task.title}}</h3>
                      <div class="col-12">
                        <a href="#" id="start-{{task.id}}" class="w-100 text-center mx-auto m-2 start-timer btn btn-success" data-id={{task.id}} data-minutes={{task.minutes}} data-progress-text="You can do it!" data-complete-text="You did it!">
                          <div id="start-progress-{{task.id}}" class="start-timer-progress"></div> 
                          <span id="start-timer-text-{{task.id}}" class="start-timer-warning">Start</span>
                        </a>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="priority-animate">{{{get_priority task.priority}}}</div>Priority</br>{{task.priority}}<br/></div>
                    <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="minutes-animate">⌛</div>Minutes</br>{{task.minutes}}</div>
                    <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="points-animate">⭐</div>Points</br>{{task.points}}</div>
                  </div>
                  <div class="row my-3">
                    <div class="col-6 text-center card-subtitle mb-2 text-muted"><div class="created-animate">🐣</div>Created<br/>{{{timeAgo task.createdAt}}}</div>
                    {{#if task.due_date}}
                    <div class="col-6 text-center card-subtitle mb-2 text-muted"><div class="due-animate">🗓️</div>Due<br/>{{timeAgo task.due_date}}</div>
                    {{/if}}
                  </div>
                  {{!-- <hr/> --}}
                  <div class="row">
                    <div class="col-12">
                      <p>{{task.body}}</p>
                    </div>
                  </div>
                  <hr/>
                  <div class="d-flex "><span class="mx-auto">(not implemented)</span></div>
                  <div class="d-flex btn-group">
                    <a href="/delegate/{{task.id}}" class="mx-auto m-2 btn btn-primary">Delegate</a>
                    <a href="/complete/{{task.id}}" class="mx-auto m-2 btn btn-success">Complete</a>
                    <a href="/edit/{{task.id}}" class="mx-auto m-2 btn btn-warning">Edit</a>
                    <a href="/snooze/{{task.id}}" class="mx-auto m-2 btn btn-danger">Snooze</a>
                  </div>


                  {{!-- <div class="row">
                    <div class="col-12">
                      <div class="d-flex btn-group">
                        <a href="#" class="w-100 mx-auto btn btn-small btn-secondary pause-button">⏸️ Pause</a>
                        <a href="#" class="w-100 mx-auto btn btn-small btn-secondary stop-button">⏹️ Stop</a>
                      </div>
                    </div>
                  </div> --}}
                </div>

                </div>
              </div>
            {{/each}}
            </div>
        </div>
      </div>
    </div>
  </div>
  {{log notTasks}}
{{#if notTasks}}
<h1 class="text-center my-3">Finished Early?</h1>
{{!-- <div class="row d-flex progress m-4 mx-auto" style="height: 35px;">
  <div class="col-12 fs-3 align-center progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{capAt100 notUtilization}}" aria-valuemin="0" aria-valuemax="100" style="width: {{capAt100 notUtilization}}%;">{{notUtilization}}% of Time Used!</div>
</div> --}}
<hr/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="custom-gutter">
        <div class="row">
            {{#each notTasks as |notTask|}}
            <div class="col-12 col-sm-12 col-md-6 my-3">
              <div class="p-2 card task-card m-2">
                <div class="card-body m-2">
                  <h3 class="mb-3 card-title text-center w-100">{{notTask.title}}</h3>
                  <hr/>
                  <div class="row">
                  <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="priority-animate">{{{get_priority notTask.priority}}}</div>Priority</br>{{notTask.priority}}<br/></div>
                  <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="minutes-animate">⌛</div>Minutes</br>{{notTask.minutes}}</div>
                  <div class="col-4 text-center card-subtitle mb-2 text-muted"><div class="points-animate">⭐</div>Points</br>{{notTask.points}}</div>
                  </div>
                  {{!-- <div class="row my-3">
                    <div class="col-6 text-center card-subtitle mb-2 text-muted">🐣 Created<br/>{{{timeAgo notTask.createdAt}}}</div>
                  </div> --}}
                  <div class="row">
                    <div class="col-12">
                      <p>{{task.body}}</p>
                    </div>
                  </div>
                  {{!-- <hr/>
                  <div class="d-flex btn-group">
                    <a href="/delegateNot/{{task.id}}" class="mx-auto m-2 btn btn-primary">Delegate</a>
                    <a href="/completeNot/{{task.id}}" class="mx-auto m-2 btn btn-success">Complete</a>
                    <a href="/editNot/{{task.id}}" class="mx-auto m-2 btn btn-warning">Edit</a>
                    <a href="/snoozeNot/{{task.id}}" class="mx-auto m-2 btn btn-danger">Snooze</a>
                  </div>
                  <div class="d-flex "><span class="mx-auto">(these buttons do nothing)</span></div> --}}
                </div>
              </div>
              </div>
            {{/each}}
            {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/knockout.js"></script>